link {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    background: url(/11_RPL_4-main/picture/background.png) no-repeat;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    background-color: #262727;
    border-radius: 12px;
    border: 3px solid black;
    box-shadow: 0 7px 4px #0000001a;
}

/* HEADER */
.logo {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.judul {
    font-size: large;
    font-family: jojoba;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
}


.logo .judul:hover {
    color: #c3c3c3;
    text-decoration: none;
}


/* NAVIGATION BAR */
.navbar {
    display: flex;
    align-items: center;
}

.navlist {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fff;
}

.navlist li {
    margin-left: 1.5rem;
    padding: 0.5rem 1rem;
    font-family: Jojoba;
    color: #fff;
}

.navlist li a {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
}

.navlist li a:hover {
    color: #c23434;
}

.login {
    margin-left: 1.5rem;
    padding: 0.5rem 1rem;
    border: 3px solid black;
    border-radius: 12px;
    background-color: #c23434;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
    font-family: Jojoba;

    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.login:hover {
    transform: translateY(-3px);
    background-color: #751818;
    color: #c23434;
}

#menu-icon,
#menu-iconn {
    font-size: 1.5rem;
    margin-left: 1.5rem;
    cursor: pointer;
}

/* CONTENT 1 */
.content-first {
    align-content: center;
    align-items: center;
    padding: 200px 150px;
    text-align: center;
}

.upper {
    color: #fff;
}

.middle {
    color: #fff;
    font-size: 64px;
    text-shadow: 3px 3px #c23434;
}

.under {
    color: #fff;
    font-size: 72px;
    text-shadow: 3px 3px #c23434;
}

/* CONTENT 2 */
.content-second {
    padding: 23px;
    margin: 30px 30px;
    background: #262727;
    border: 3px solid black;
    border-radius: 12px;

}

.second-image {
    padding: 20px;
    background: #c23434;
    border: 3px solid black;
    border-radius: 12px;
    font-size: 1rem;
}

.second-image p {
    margin: 20px;
    padding: 20px;
    font-size: 16px;
    font-family: jojoba;
    color: #fff;
    word-wrap: break-word;
    text-align: justify;
}

/* CONTENT 3 */
.content-third {
    padding: 23px;
    margin: 30px 30px;
    background: #fff;
    border: 3px solid black;
    border-radius: 12px;
}

.third-text {
    padding: 20px;
    background: #c23434;
    border: 3px solid black;
    border-radius: 12px;
    font-size: 1rem;
}

.third-text p {
    margin-right: 20px;
    text-align: justify;
    padding: 20px;
    font-size: 16px;
    font-family: jojoba;
    color: #fff;
    word-wrap: break-word;
}

/* CONTENT 4 */
.main-content img {
    background: #fff;
    border: 3px solid black;
    border-radius: 12px;
    margin: 10px;
}

.main-content p {
    padding: 20px;
    margin: 20px;
    border-radius: 12px;
    border: 3px solid black;
    background: #262727;
    justify-items: center;
    text-align: center;
    font-size: 1rem;
    font-family: Jojoba;
    color: #fff;
}

/* CONTENT 5 */
.content-fourth {
    padding: 23px;
    margin: 30px 30px;
    background: #262727;
    border: 3px solid black;
    border-radius: 12px;
    font-size: 1rem;
    font-family: Jojoba;
    color: #fff;
}

.content-form {
    background: #c23434;
    border: 3px solid black;
    border-radius: 12px;
    padding: 20px;
}

.content-form input {
    margin-top: 10px;
    padding: 8px;
    border: 3px solid black;
    border-radius: 8px;
    font-size: 14px;
    font-family: jojoba;
}

.content-form textarea {
    margin-top: 10px;
    padding: 8px;
    border: 3px solid black;
    border-radius: 8px;
    font-size: 14px;
    font-family: jojoba;
}

.button {
    margin-top: 10px;
    padding: 5px;
    background: #c23434;
    border: 3px solid black;
    border-radius: 8px;
    color: #fff;
    font-size: 1rem;
    font-family: Jojoba;
    transition: all 0.3s ease;

    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.button:hover {
    transform: translateY(-3px);
    background: #751818;
    color: #c23434;
}

/* FOOTER */
.footer {
    text-align: center;
    background: #262727;
    border: 3px solid black;
    border-radius: 12px;
    font-family: Jojoba;
    font-size: 1rem;
    color: #fff;
    box-shadow: 0 7px 4px #0000001a;
    justify-content: space-between;
}
