link {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  background: url(../picture/background.png);
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #262727;
  border-radius: 12px;
  border: 3px solid black;
  box-shadow: 0 7px 4px #0000001a;
}

.profile {
  display: flex;
  align-items: center;
}

.profile img {
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 100%;
  height: 35px;
  width: 35px;

  transition: all 0.3s ease;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.profile img:hover {
  transform: translateY(-3px);
}

.name {
  font-family: Jojoba;
  margin-top: 10px;
  margin-left: 10px; /* Adjust the margin as needed */
  
  vertical-align: text-top; /* Add this line */
  top: 10px;
  left: 3rem;
  color: #fff;
}

/* NAVIGATION BAR */
.navbar {
  display: flex;
  align-items: center;
}

.navlist {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #fff;
}

.navlist li {
  margin-left: 1.5rem;
  padding: 0.5rem 1rem;
  font-family: Jojoba;
  color: #fff;
}

.navlist li a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}

.navlist li a:hover {
  color: #c23434;
}

#menu-icon,
#menu-iconn {
  font-size: 1.5rem;
  margin-left: 1.5rem;
  cursor: pointer;
}

/* CONTENT 1 */
.container-card {
  padding: 23px;
  background: #262727;
  border: 3px solid black;
  border-radius: 12px;
  display: flex;
  margin: 30px;
}

.container-card img {
  margin: 10px 10px;
  height: 60px;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.card-flex {
  display: flex;
}

.card {
  margin: 10px;
  box-sizing: border-box;
  width: 200px;
  height: 300px;
  background: white;
  border: 3px solid black;
  box-shadow: rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  cursor: pointer;
  transition: all 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: center;
  user-select: none;
  font-weight: bolder;
  color: black;
}

.card:hover {
  background: #c3c3c3;
  border: 3px solid black;
  transform: scale(1.05);

}

/* CONTENT 2 */
.content-2 {
  padding: 23px;
  margin: 30px 30px;
  background: #c23434;
  border: 3px solid black;
  border-radius: 12px;
}

.content-2 h2 {
  font-size: 1.5rem;
  font-family: jojoba;
  color: white;
  justify-items: center;
}

.content-lomba {
  padding: 23px;
  margin: 30px 30px;
  background: #fff;
  border: 3px solid black;
  border-radius: 12px;
}

.section-lomba img {
  border: 3px solid black;
  border-radius: 12px;
  margin: 20px;
  height: 260px;
  width: 184px;
}

.wrapper {
  display: flex;
  overflow-x: auto;
}

.wrapper::-webkit-scrollbar {
  width: 5;
}

.wrapper .item {
  text-align: center;
  background-color: #262727;
  border: 3px solid black;
  border-radius: 12px;
  margin: 10px;
}

.wrapper p {
  font-size: 16px;
  font-family: jojoba;
  color: #fff;

}

.button {
  width: 200px;
  margin: 10px;
  padding: 10px;
  background: #c23434;
  border: 3px solid black;
  border-radius: 12px;
  color: #fff;
  font-size: 1rem;
  font-family: Jojoba;
  transition: all 0.3s ease;

  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.button:hover {
  transform: translateY(-3px);
  background: #751818;
  color: #c23434;
}

/* CONTENT 3 */
.content-3 {
  padding: 23px;
  margin: 30px 30px;
  background: #fff;
  border: 3px solid black;
  border-radius: 12px;
}

.content-3 h2 {
  font-size: 1.5rem;
  font-family: jojoba;
  color: black;
  justify-items: center;
}

.content-event {
  padding: 23px;
  margin: 30px 30px;
  background: #262727;
  border: 3px solid black;
  border-radius: 12px;
}

.section-event {
  align-items: center;
  justify-content: center;
  position: center;
  padding: 20px;
  background: #c23434;
  border: 3px solid black;
  border-radius: 12px;
  font-size: 1rem;
  font-family: jojoba;
  color: white;
}

/* CONTENT 4 */
.content-4 {
  padding: 23px;
  margin: 30px 30px;
  background: #c23434;
  border: 3px solid black;
  border-radius: 12px;
}

.content-4 h2 {
  font-size: 1.5rem;
  font-family: jojoba;
  color: white;
  justify-items: center;
}

.content-pengumuman {
  padding: 23px;
  margin: 30px 30px;
  background: #fff;
  border: 3px solid black;
  border-radius: 12px;
}

.section-pengumuman {
  border: 3px solid black;
  border-radius: 12px;
  background: #262727;
}

.slider {
  width: 800px;
  height: 500px;
  border-radius: 12px;
  overflow: hidden;
  margin: 30px;
}

.slide {
  width: 500%;
  height: 500px;
  display: flex;
}

.slide input {
  display: none;
}

.st {
  border: 3px solid black;
  border-radius: 12px;
  margin: 0px;
  width: 20%;
  transition: 2s;
}

.st img {
  width: 800px;
  height: 500px;
}

.nav-m {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  justify-content: center;
  display: flex;
}

.m-btn {
  border: 3px solid #8f1821;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.m-btn:not(:last-child) {
  margin-right: 30px;
}

.m-btn:hover {
  background-color: #8f1821;
}

#radio1:checked~.first {
  margin-left: 0;
}

#radio2:checked~.first {
  margin-left: -20%;
}

#radio3:checked~.first {
  margin-left: -40%;
}

#radio4:checked~.first {
  margin-left: -60%;
}

#radio5:checked~.first {
  margin-left: -80%;
}

#radio6:checked~.first {
  margin-left: -100%;
}

.nav-auto {
  position: absolute;
  width: 800px;
  margin-top: 460px;
  display: flex;
  justify-content: center;
}

.nav-auto div {
  border: 3px solid black;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.nav-auto div:not(:last-child) {
  margin-right: 30px;
  justify-content: center;
}

#radio1:checked~.nav-auto .a-b1 {
  background-color: #c23434;
}

#radio2:checked~.nav-auto .a-b2 {
  background-color: #c23434;
}

#radio3:checked~.nav-auto .a-b3 {
  background-color: #c23434;
}

#radio4:checked~.nav-auto .a-b4 {
  background-color: #c23434;
}

#radio5:checked~.nav-auto .a-b5 {
  background-color: #c23434;
}

#radio6:checked~.nav-auto .a-b6 {
  background-color: #c23434;
}

/* CONTENT 5 */
.content-5 {
  padding: 23px;
  margin: 30px 30px;
  background: #fff;
  border: 3px solid black;
  border-radius: 12px;
}

.content-5 h2 {
  font-size: 1.5rem;
  font-family: jojoba;
  color: black;
  justify-items: center;
}

.content-blog {
  padding: 23px;
  margin: 30px 30px;
  background: #262727;
  border: 3px solid black;
  border-radius: 12px;
}

/* FOOTER */
.footer {
  text-align: center;
  background: #262727;
  border: 3px solid black;
  border-radius: 12px;
  font-family: Jojoba;
  font-size: 1rem;
  color: #fff;
  box-shadow: 0 7px 4px #0000001a;
  justify-content: space-between;
}
