body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-image: url(../picture/bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.login-container {
    width: 250px;
    margin: 100px auto;
    padding: 20px;
    height: 350px;
    align-items: center;
    background-color: #c23434;
    border: 3px solid black;
    border-radius: 12px;
    box-shadow: inset;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #f2f2f2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    
}

 .form-label{
    color: rgb(44, 44, 44);
    text-align: left;
    font-size: 14px;
} 


label {
    font-weight: bold;
    color: #fff;
    font-size: smaller;
    font-family: jojoba;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

button[type="submit"] {
    margin-top: 7px;
    height: 35px;
    width: 80px;
    border: 3px solid black;
    border-radius: 12px;
    background-color: #751818;
    color: #c23434;
    cursor: pointer;
    font-family: jojoba;
    transition: all 0.3s ease;
    
}

.signup-button{
    font-size: small;
    color: #f2f2f2;
    
}


button[type="submit"]:hover { 
    background-color: #580d0d;
}
